---
import clsx from "clsx";

interface Props {
  skills: string[];
  size?: number;
  class?: string;
  itemClass?: string;
}

const { skills, size = 40, class: _class, itemClass } = Astro.props as Props;
---

<section class={clsx("py-4 flex flex-wrap items-center gap-1", _class)}>
  {
    skills.map((skillIconName) => (
      <img
        src={`/venomous-portfolio/skill-icons/${skillIconName}.png`}
        alt={skillIconName}
        width={size}
        height={size}
        draggable="false"
        loading="lazy"
        decoding="async"
        class:list={[
          "overflow-hidden rounded-2xl inset-shadow-sm",
          "border border-gray-300 bg-gray-100 dark:bg-gray-800",
          itemClass,
        ]}
      />
    ))
  }
</section>
