---
import clsx from "clsx";

import CONFIGS from "@/configs.global";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { DESIGN_CLASSNAME } from "@/styles/design";

interface Props {
  class?: string;
}

const { class: _class } = Astro.props as Props;
---

<header
  class={clsx(
    `fixed top-0 right-0 left-0 z-50 h-[60px] w-full`,
    "mx-auto flex justify-center-safe backdrop-blur-xl md:px-0",
    _class,
  )}
>
  <div
    class={clsx(
      "m-0 h-full w-full md:w-[1000px] px-[8px]",
      "border-b-1 border-gray-200 dark:border-gray-800",
      "flex items-center justify-between",
    )}
  >
    <!-- Logo -->
    <h1 class="m-0">
      <a href={CONFIGS.SITE.BASE} class="flex h-full w-max items-center">
        <!-- <img
          src={logoImg.src}
          alt={CONFIGS.SITE.NAME}
          draggable="false"
          decoding="async"
          loading="lazy"
          class="block h-[40px] backdrop-blur-[100px]"
        /> -->
        <span class={clsx("text-2xl font-bold", DESIGN_CLASSNAME.COLOR_GRADIENT_TEXT)}
          >{CONFIGS.SITE.NAME}</span
        >
      </a>
    </h1>

    <!-- Theme Toggle -->
    <ThemeToggle />
  </div>
</header>
