---
import clsx from "clsx";
---

<div
  class={clsx(
    "fixed top-0 left-0 -z-10 h-full w-full",
    "bg-cover bg-center bg-no-repeat",
    "bg-[url('/src/assets/background.svg')] blur-[50px] transition-all duration-200",
  )}
>
</div>
