---
export interface Props {
  backgroundImageUrl?: string;
  class?: string;
}

const { backgroundImageUrl, class: _class } = Astro.props as Props;
---

<div
  class:list={['fixed top-0 left-0 -z-10 h-full w-full', 'bg-cover bg-center bg-no-repeat', _class]}
  style={backgroundImageUrl ? `background-image: url('${backgroundImageUrl}')` : ''}
>
</div>
