---
interface Props {
  class?: string;
}

const { class: _class } = Astro.props as Props;
---

<span
  class:list={[
    "rounded-xl border border-gray-300",
    "px-2 py-1 text-xs font-bold tracking-wider text-white",
    "bg-purple-700 backdrop-blur",
    _class,
  ]}
>
  <slot />
</span>
