---
import { DESIGN_CLASSNAME } from "@/styles/design";

interface Props {
  class?: string;
}

const { class: _class } = Astro.props as Props;
---

<span
  class:list={[
    "inline-block rounded-xl border border-gray-300 backdrop-blur",
    "px-2 py-1 text-center text-xs font-bold tracking-wider text-white",
    DESIGN_CLASSNAME.COLOR_GRADIENT_BACKGROUND,
    _class,
  ]}
>
  <slot />
</span>
